body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

.top-part{
    background-image:url("../staticLayout/assets/Homepage.jpg");
    background-size: contain;
    height: 565px;
    width: 100%;
    position: relative;
    top: 0%;
}

.ribbon {
    width: 2000px;
    height: 152px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(9, 22, 34) 0%, rgba(14, 51, 61) 65%, rgba(13, 65, 80) 100%);
    position: relative;
    top: -14px;
}

.middle-middle{
    color: rgb(37, 158, 134);
    text-align: center;
    position: relative;
    top: 30px;
    left: -365px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

#middle-top{
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
    left: -200px;
    font-size: 25px;
}

.content{
    background-image: url("../staticLayout/assets/Logos.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 553px;
    width: 357px;
    top: -125px;
    left: 135.3px;
}

.logo {
    background-image: url("../staticLayout/assets/HuluLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 530px;
    width: 265px;
    top: -1130px;
    left: 757px;

}

.top-text {
    color: rgb(37, 158, 134);
    text-align: center;
    position: relative;
    top: -540px;
    left: -100px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.bottom-text {
    color: white;
    text-align: center;
    position: relative;
    top: -430px;
    left: -80px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.lower-text {
    color: white;
    text-align: center;
    position: relative;
    top: -450px;
    left: -85px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.baby-disclaimer {
    color: lightgrey;
    text-align: center;
    position: relative;
    top: -370px;
    left: -85px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.cont-bottom {
    color: white;
    text-align: center;
    position: relative;
    top: -450px;
    left: -100px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color:transparent;
    border-style: hidden;
    color: white;
    position: relative;
    top: -1800px;
    left:1670px;
    width: 65px;
    height: 70px;
}

#trial {
    background-color: white;
    color: black;
    position: relative;
    top: -1490px;
    left: 767px;
    height: 50px;
    width: 250px;
    border-radius: 3px;
}

#bundel {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    color: white;
    height: 50px;
    width: 150px;
    position: relative;
    top: -1280px;
    left: 1300px;
    border-radius: 3px;
}

.link1 {
    text-decoration: none;
    top: -1265px;
    left: 542px;
    color: whitesmoke;
    position: relative;
}

#link2 {
    position: relative;
    top: -1280px;
    left: 1580px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.links {
    color: white;
}

.plans {
    color: rgb(37, 158, 134);
    text-align: center;
    position: relative;
    top: -1190px;
    left: -20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.library {
    text-align: center;
    position: relative;
    top: -1230px;
    left: 15px;
    font-size: 75px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.and-more {
    text-align: center;
    position: relative;
    top: -1250px;
    left: 35px;
    color: white;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.also-more {
    text-align: center;
    position: relative;
    top: -1270px;
    left: 35px;
    color: white;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.past {
    text-align: center;
    position: relative;
    color: white;
    top: -1220px;
    left: -503px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.tvshows {
    text-align: center;
    position: relative;
    color: white;
    top: -1260px;
    left: -538px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.new {
    text-align: center;
    position: relative;
    color: white;
    top: -1345px;
    left: -226px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.movies {
    text-align: center;
    position: relative;
    color: white;
    top: -1386px;
    left: -241px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.breaking {
    text-align: center;
    position: relative;
    color: white;
    top: -1470px;
    left: 95px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.originals {
    text-align: center;
    position: relative;
    color: white;
    top: -1510px;
    left: 118px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.adds {
    text-align: center;
    position: relative;
    color: white;
    top: -1600px;
    left: 375px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.premiums {
    text-align: center;
    position: relative;
    color: white;
    top: -1637px;
    left: 400px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.bobsburger {
    background-image: url("../staticLayout/assets/bobsburger.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 560px;
    width: 300px;
    top: -1745px;
    left: 275px;
    opacity: 0.7;
}

.palmsprings {
    background-image: url("../staticLayout/assets/palmsprings.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 560px;
    width: 300px;
    top: -2305px;
    left: 590px;
    opacity: 0.7;
}

.littlefires {
    background-image: url("../staticLayout/assets/littlefires.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 560px;
    width: 300px;
    top: -2865px;
    left: 905px;
    opacity: 0.7;
}

.watchmen {
    background-image: url("../staticLayout/assets/watchmen.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 560px;
    width: 300px;
    top: -3450px;
    left: 1225px;
    opacity: 0.7;
}


.add-ons {
    text-align: center;
    position: relative;
    top: -3525px;
    left: 460px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.bottom-square {
    height: 105vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -3395px;
    left: 0px;
}

.plan {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: black;
    top: -4280px;
    left: 275px;
}

.description {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    top: -4250px;
    left: 275px;
}

.cancel {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    top: -4243px;
    left: 275px;
}

.hulu {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: black;
    position: relative;
    top: -4370px;
    left: 880px
}

.freetrial1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    position: relative;
    top: -4370px;
    left: 850px;
}

.noads {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: black;
    position: relative;
    top: -4419px;
    left: 1060px;
}

.freetrial2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    position: relative;
    top: -4418px;
    left: 1087px;
}

.livetv {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: black;
    position: relative;
    top: -4465px;
    left: 1297px;
}

.freetrial3 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    position: relative;
    top: -4465px;
    left: 1333px;
}

.button2 {
    font-size: 14px;
    background-color: black;
    border-radius: 3px;
    position: relative;
    top: -4443px;
    left: 800px;
    width: 225px;
    height: 50px;
}

.button3 {
    font-size: 14px;
    background-color: black;
    border-radius: 3px;
    position: relative;
    top: -4443px;
    left: 810px;
    width: 225px;
    height: 50px;
}

.button4 {
    font-size: 14px;
    background-color: black;
    border-radius: 3px;
    position: relative;
    top: -4443px;
    left: 820px;
    width: 225px;
    height: 50px;
}

.price {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    top: -4410px;
    left: 277px;
}

.break {
    position: relative;
    top: -4425px;
    color: gray;
    width: 70%;
}

.huluprice {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    top: -4430px;
    left: 807px;
}

.noadsprice {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    top: -4447px;
    left: 1107px;
}

.livetvprice {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    top: -4468px;
    left: 1335px;
}

.break2 {
    position: relative;
    top: -4460px;
    color: gray;
    width: 70%;
}

.streaming {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    top: -4450px;
    left: 277px;
}

.break3 {
    position: relative;
    top: -4430px;
    color: gray;
    width: 70%;
}

.newepisodes {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    top: -4420px;
    left: 277px;
}

.checkmarks {
    position: relative;
    top: -4600px;
    left: 600px;
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: 10fr 10fr;
    grid-column-gap: 235px;
    grid-row-gap: 80px;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    border-radius: 3px;
    max-width: 600px;
    margin: 100px 200px;
    padding-top: 0px;
}

.popular {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background: gray;
    position: relative;
    top: -5085px;
    left: 840px;
}

#most {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: bold;
    top: 10px;
    left: 35px;
    color: white;
}